**/organizations/ordererOrganizations
**/organizations/peerOrganizations
**/organizations/fabric-ca/ordererOrg/*.db
**/organizations/fabric-ca/ordererOrg/*.pem
**/organizations/fabric-ca/ordererOrg/*Key
**/organizations/fabric-ca/ordererOrg/msp
**/channel-artifacts

ca/generated-ca

bin

log.txt